*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 80%;
    height: 100vh;
    margin: 5% auto;
    text-align: center;
}
.main h2{
    text-transform: capitalize;
    width: fit-content;
    margin: 0 auto 50px;
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main h2::after{
    content: '';
    height: 3px;
    background-color: #0a3bc2c4;
    width: 40%;
    display: block;
    border-radius: 10px;
    margin: 7px auto;
}
.review{
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.review #author{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.review #job{
    text-transform: uppercase;
    color: #0a3bc2c4;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 10px;
}
.review #info{
    font-size: 20px;
    margin: 0 0 20px;
    color: rgb(80, 78, 78);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button-container{
    padding: 10px;
}
.button-container button{
    margin: 0 10px 5px;
}
.button-container button .bi{
    color: #0a3bc2c4;
    font-size: 18px;
}
.random-btn{
    padding: 5px;
    text-transform: capitalize;
    font-size: 15px;
    background-color: #0a3bc2c4;
    border-radius: 10px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
